<div class="container show-my-plant">

<h3> Your Bookings </h3>
  <% Booking.where(user_id: current_user.id).each do |booking| %>
  <div class=".form-control flex-item my-plant" >
    <h2><%= link_to booking.plant.title, plant_path(booking.plant) %></h2>
    <p>Start Date= <%= booking.start_date %></p>
    <p>End Date= <%= booking.end_date %></p>
    <%= link_to "Edit", edit_plant_booking_path(booking.plant, booking), class:"button-blue" %>
    <%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"button-small" %>
</div>
  <% end %>
</div>

  <h1> Your booked plants </h1>
  <% plants = Plant.where(user_id: current_user.id).each do |plant| %>
    <div class=".form-control flex-item my-plant" >
      <% plant.bookings.each do |booking|  %>
        <%= booking.user.email %>
        <p>Start Date= <%= booking.start_date %></p>
        <p>End Date= <%= booking.end_date %></p>
        <%= link_to "Delete ", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"button-small" %>
    </div>
    <% end %>
  <% end %>
