<h1>You're booking <%= @plant.title %>.</h1>

<%= simple_form_for [@plant, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>
<%= link_to "back", plant_path(@plant) %>
