
<% @plants.each do |plant| %>
  <div class="card flex-item" >
    <%# img width='100%' src='https://www.ikea.com/us/en/images/products/fejka-artificial-potted-plant-indoor-outdoor-monstera__0614197_pe686822_s5.jpg?f=xl' style="object-fit: cover; vertical-align: bottom;" /> %>
      <h2><%= plant.title %></h2>
      <%= link_to "Delete Plant", plant_path(plant), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      <% plant.bookings.each do |booking| %>
      <div class="card flex-item" >
      <%= booking.user.email %>
      <p>Start Date= <%= booking.start_date %></p>
      <p>End Date= <%= booking.end_date %></p>
      <%= link_to "Delete Booking", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
      </div>
      <% end %>
  </div>
<% end %>
