<%= render "components/banner" %>
<div class = "container all-plants">
  <h1> Find your perfect plant </h1>
    <%# <div class="container"> %>
    <p><%= render "components/search-bar" %></p>
        <div class="cards">
          <% @plants.each do |plant| %>
          <div class="card" >
            <div class="card-img" style="background-image: url(<%= plant.photo.attached? ? cl_image_path(plant.photo.key) : plant.url %>)" >
            </div>
            <div class="card-infos" >
              <div class="card-title" >
                <h3><%= link_to plant.title, plant_path(plant) %> </h3>
                <p><%= plant.city %></p>
              </div>
              <div class="card-book" >
                <%= link_to 'Book now',  new_plant_booking_path(plant) %>
              </div>
              <div class="card-price" >
                <p><%= plant.price %>€</p>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
    <div class="map">
      <div style="width: 100%; height: 400px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
</div>
