<%= render "components/banner" %>
<div class = "container all-plants">
  <h1> Find your perfect plant </h1>
  <%= link_to 'Add Plant', new_plant_path, class: 'button-blue' %>
  <div class= "cards">
    <div class="container">
      <div class="row justify-content-center">
        <div class="cards">
          <% @plants.each do |plant| %>
          <div class="card" >
            <%= link_to(image_tag("https://www.ikea.com/us/en/images/products/fejka-artificial-potted-plant-indoor-outdoor-monstera__0614197_pe686822_s5.jpg?f=xl"), plant_path(plant)) %>
            <div class="card-infos">
              <h2><%= link_to plant.title, plant_path(plant) %> </h2>
              <p><%= plant.description %></p>
              <p><%= plant.city %></p>
            </div>
            <h3 class="card-price"><%= plant.price %></h3>
            <div class="card-links">
              <p><%= link_to 'Book this plant',  new_plant_booking_path(plant) %> </p>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
