<%= render "components/banner" %>
<div class = "container all-plants">
  <h1> Find your perfect plant </h1>
  <%= link_to 'Add Plant', new_plant_path, class: 'button-blue' %>
  <div class= "cards">
    <div class="container">
      <div class="row justify-content-center">
        <div class="cards">
          <% @plants.each do |plant| %>
          <div class="card" >
          <% if plant.photo.attached?  %>
            <%= cl_image_tag plant.photo.key, height: 200, width: 300, crop: :fill %>
          <% else %>
            <img src="<%= plant.url %>" style="width: 16rem;">
          <% end %>
            <h2><%= link_to plant.title, plant_path(plant) %> </h2>
            <p><%= plant.city %></p>
            <p><%= plant.price %></p>
            <%= link_to '+',  new_plant_booking_path(plant) %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
