<div class= "banner-container">
<h1> Plants </h1>
</div>
<div class= "cards">
  <div class="container">
    <div class="row justify-content-center">
      <%= link_to 'add a new plant', new_plant_path, class:'btn-danger' %>
      <div class="flex-container">
        <% @plants.each do |plant| %>
        <div class="card flex-item" >
          <img width='100%' src='https://www.ikea.com/us/en/images/products/fejka-artificial-potted-plant-indoor-outdoor-monstera__0614197_pe686822_s5.jpg?f=xl' style="object-fit: cover; vertical-align: bottom;" />
          <h2><%= link_to plant.title, plant_path(plant) %> </h2>
          <p><%= plant.description %></p>
          <p><%= plant.city %></p>
          <p><%= plant.price %></p>
          <%= link_to 'Book this plant',  new_plant_booking_path(plant) %>
          <%= button_to "sign out", destroy_user_session_path, method: :delete %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
