<%= render "components/banner" %>
<div class = "container all-plants">
  <h1> Find your perfect plant </h1>
    <%# <div class="container"> %>
        <div class="cards">
          <% @plants.each do |plant| %>
          <div class="card" >
            <div class="card-img" style="background-image: url(<%= plant.photo.attached? ? cl_image_path(plant.photo.key) : plant.url %>)" >
              <div class="card-Link" >
                <%= link_to 'BOOK',  new_plant_booking_path(plant) %>
              </div>
            </div>
            <div class="card-infos" >
              <div class="card-title" >
                <h3><%= link_to plant.title, plant_path(plant) %> </h3>
                <p><%= plant.city %></p>
              </div>
              <div class="card-price" >
                <h5><%= plant.price %>€</h5>
              </div>
            </div>
          </div>
          <% end %>
        </div>
    </div>
</div>
